body {
    background-color: #141414;
}

.movies {
    display: grid;
    grid-template-columns: repeat(2, 200px); /* Cria 5 colunas com 200px cada */
    gap: 20px; /* Espaçamento entre as divs */
    background-color: #343434;
}

.movie1,
.movie2{
    width: 200px;
    height: 400px;
}

.movie1 img,
.movie2 img {
    max-width: 100%;
    height: auto;
}
